* {
    box-sizing: border-box;
}

main {
    box-sizing: border-box;
}

#searchBar {
    align-items: center;
    position: relative;
    bottom: 45vh;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.342)
}

#iconBar {
    position: relative;
    left: 1.3%;
}

.carousel-item {
    height: 70vh;
}

#cardTitle {
    font-weight: 700;
    color: #053894;
}

#priceTag {
    padding-left: 63%;
}

#detailTag {
    padding-left: 63%;
}